#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.groups {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  flex-wrap: wrap;
  background-color: antiquewhite;


  .group {
    margin: 4px;
    padding: 20px;
    width: 15%;
    min-height: 16rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(31, 31, 34, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    .title{
      color: white;
      padding: 0;
      margin-top: 0;
    }
  }
  .noDrop {
    min-height: 16rem;
    background-color: red;
    cursor: not-allowed !important;

    .title{
      color: white;
      padding: 0;
      margin-top: 0;
    }
  }
}


.item {
  background-color: white;
  color: black;
  margin: 5px;
  padding: 5px;
  border: none;
  cursor: grab;
  border-radius: 5px
}

.notAllowed {
  /* background-color: yellow;
  color: blue; */
  margin: 5px;
  padding: 5px;
  border: none;
  cursor: not-allowed;
}